$task_done : #01b10a;
$task_note : #d10101;
$task_waiting : #f5c916;
$task_grey : #ababab;
.edit-task_grey {
    background: $task_grey;
}
.edit-task_done {
    background: $task_done;
}
.edit-task_donena {
    background: $task_done;
}
.edit-task_waiting {
    background: $task_waiting;
}

.button-modal {
    text-align: center;
}
.button-modal button {
    margin: 0 5px;
}

.note-change-status {
    background: #eee;
    padding: 0 5px;
    transition: 0.3s;
    box-shadow: 0px 1px 3px;
    border-radius: 5px;
}
.note-change-status:hover {
    cursor: pointer;
    opacity: 0.7;
    background: #ffffff;
    color: #d10101;
}
.status-note-status {
    margin: 15px 5px;
}
.status-note-status > p {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span.status-note-status {
    background: #f5c916;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
}

.edit-task-main {
    display: flex;
    justify-content: space-around;
    margin: 20px;

    .edit-task-item {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        width: 13%;
        

        .edit-note-status {
            
            width: 30px;
            height: 30px;
            display: block;
            margin: 5px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .edit-task_donena {
            
            color: #fff;
        }
        
    }
}
.edit-task-field {
    display: grid;
    margin: 20px 0;
}
span.rst__rowSubtitle {
    display: flex;
    justify-content: flex-start;
}
.note-subtitle {
    margin: 5px;
}
.note-subtitle-edit-task {
    margin: 5px;
}