body {
  li{
    list-style-type: none;
  }
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1300px!important;
  }
}
$task_done : #01b10a;
$task_note : #d10101;
$task_waiting : #f5c916;
$task_grey : #ababab;

.task_done {
    background: $task_done;
}
.task_note {
    background: $task_note;

}
.task_waiting {
    background: $task_waiting;
}
.task_grey {
  background: $task_grey;
}

.app-container {
  .header-container {
    background: aquamarine;

    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
      
    }
    .btn-signup {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      color: #fff;
      background: #303030;
      height: 40px;

      &:hover {
        background: #000;
      }
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      opacity: 0.6;
      // background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        font-size: 15px;
        font-weight: 500;

        &.active {
          // color: #00bfff;
          color: #fff;
          background: #00bfff;
          border-radius: 5px;
        }

      }

    }
  }
}



.characters {
  list-style: none;
  padding-left: 0;
  width: 96%;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  // font-weight: bold;
  margin: 0;
  font-size: 15px;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

// page admin
h4.inspection {
  text-align: center;
  margin: 20px 0;
}

//page home
.homepage-content {
  .homepage-item {
    // width: 700px;
    margin: 40px auto;
    border-radius: 10px;

    display: grid;
    // border: 2px solid #eee;
    justify-content: center;
    width: fit-content;

    .item-title {
      display: flex;
      justify-content: space-between;
      background: rgba(204, 204, 204, 0.3098039216);

      h5 {
        padding: 10px 20px;
        margin: 0;
      }

      .item-title-number {
        padding: 10px 20px;
        background: #c3c3c3;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
    }


    .item-content {
      border: 2px solid #eee;

      .item-note {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        background: #fff;

        .item-note-name {
          display: flex;

          .note-number {
            background: #ff5353;
            color: #fff;
            padding: 0 10px;
            margin-left: 10px;
          }
        }
      }

      .item-list {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 0.5rem;

        .item-card {
          // padding: 0.5rem;
          border-radius: 5px;
          background: #cccccc4f;
          text-align: center;
          // min-height: 250px;

          .item-card-title {
            font-size: 15px;
            margin: 10px 0;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;
          }
          .item-card-content {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: auto;
            grid-gap: 0.1rem;
            padding: 10px;
            justify-content: flex-start;
            margin-top: 10px;

            .item-task > span {
              width: 30px;
              height: 30px;
              display: block;
            }
            .item-task > span:hover {
              cursor: pointer;
              opacity: 0.6;
            }
            .item-task {
              height: 25px;
              transition: 0.5s;

              .task_done {
                background: $task_done ;
                
              }
              .task_note {
                background: $task_note;
                
              }
              .task_waiting {
                background: $task_waiting;

              }
            }
          }
        }

      }

    }
  
  
  }

}

// page user
.user-content {
  .user-item {
    width: 1490px;
    margin: 40px auto;
    border-radius: 10px;

    .item-title {
      display: flex;
      justify-content: space-between;
      background: rgba(204, 204, 204, 0.3098039216);

      h5 {
        padding: 10px 20px;
        margin: 0;
      }

      .item-title-number {
        padding: 10px 20px;
        background: #c3c3c3;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
    }

    .user-info-drap {
      
      .react-draggable {
        // width: 70%;
        // background: rgb(239, 239, 239);

        

        .user-toggle {
          display: flex;
          justify-content: center;

          .user-toggle-content {
            text-align: center;

            #example-panel {
              background: #e7e6e6;
              box-shadow: 5px 2px 10px #cbcbcb;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;

              .user-toggle-main {
                .user-add-content {
                  display: flex;
                  .user-list-add {
                    display: flex;
                    overflow-y: auto;
                    width: 768px;
        
                    .user-list-card {
                      background: #fff;
                      padding: 15px 20px;
                      margin: 10px;
                      border-radius: 10px;
                      color: #686868;
                      font-weight: 600;
                      font-size: 12px;
        
                      .user-type {
                        
                      }
                      .user-role {
                        margin-top: 20px;
                      }
                    }
        
                    
                  }

                  .user-list-card-new {
                    background: #fff;
                    margin: 10px;
                    border-radius: 10px;
                    width: 15%;
                    font-size: 20px;
                    font-weight: 600;
                    color: #686868;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  .user-list-card-new:hover {
                    cursor: pointer;
                  }
                }

                
              }
  
              
            }
            .user-toggle-button {
              // width: 20%;
              margin: auto;
              background: #e7e6e6;
              height: 90px;
              padding: 20px 0;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              box-shadow: 1px 2px 9px #ddd;

              .btn-primary {
                margin: 5px;
              }
            }
            


          }
        
          

        
        }
      }

    }
   
    .item-content {
      border: 2px solid #eee;
      padding-top: 100px;

      .item-list {
        // margin: 10px;
        // display: flex;
        // overflow: auto;
        // justify-content: space-between;

        display: grid;
        overflow: auto;
        justify-content: space-between;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        grid-gap: 0.5rem;

        .item-card {
        
          border: 1px solid #ddd;

          .item-card-header {
            // padding: 0.5rem;
            // border-radius: 5px;
            // background: rgba(204, 204, 204, 0.3098039216);
            // text-align: center;
            // margin: 10px 20px;
            // min-height: 125px;

            border-radius: 5px;
            background: rgba(204, 204, 204, 0.3098039216);
            margin: 5px;
            min-height: 165px;
            display: flex;
            flex-direction: column;

            .item-card-title {

              display: flex;
              justify-content: center;
              width: 100%;
              font-size: 17px;
              font-weight: 400;
              margin: 20px 0;

            }
            .item-card-content {
              // display: grid;
              // grid-template-columns: repeat(5, 0.1fr);
              // grid-auto-rows: auto;
              // grid-gap: 0.3rem;
              // padding: 10px;

              display: grid;
              grid-template-columns: repeat(5, 0fr);
              grid-gap: 0.8rem;
              justify-content: center;
              align-items: baseline;
              height: 40px;
  
              .item-task > span {
                width: 30px;
                height: 30px;
                display: block;
              }
              .item-task > span:hover {
                cursor: pointer;
                opacity: 0.6;
              }
              .item-task {
                
                .task_done {
                  background: #2be32b;
                }
                .task_note {
                  background: #ff5353;
                }
                .task_waiting {
                  background: #eded15;
                }
              }
            }
          }
          .item-card-table {
            .table-title {
              text-align: center;
              border-top: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              padding: 25px 0;
              font-weight: 700;
              margin: 0;
            }
            .table-content {

              .table-list {
                padding: 0;
                overflow-y: auto;

                .table-list-li{
                  display: flex;
                  // border-top: 1px solid #ddd;
                  border-bottom: 1px solid #ddd;
                  padding: 10px 15px;
                  vertical-align: middle;

                  .table-task-status {
                    

                    .task_done {
                      background: #2be32b;
                    }
                    .task_note {
                      background: #ff5353;
                    }
                    .task_waiting {
                      background: #eded15;
                    }
                  }
                  .table-task-status > span {
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin-right: 10px;
                  }
                  .table-task-text {

                  }
                }

                .task_done {
                  .rst__moveHandle {
                    background: #2be32b;
                  }
                  
                }
                .task_note {
                  .rst__moveHandle {
                    background: #ff5353;
                  }
                  
                }
                .task_waiting {
                  .rst__moveHandle {
                    background: #eded15;
                  }
                  
                }

              }

            }

          }
          
        }

      }

    }
  
  
  }

}

.user-info-drap {
  // height: calc(40vh - 50px);
  // position: absolute;
  // z-index: 20;
  // width: 100%;

  position: absolute;
  z-index: 20;
  width: 78%;
  justify-content: center;
  display: grid;
}

.draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

// drapping botton documents

.documents-info-drap {
  height: calc(40vh - 50px);
  position: absolute;
  z-index: 20;
  width: 75%;
  // bottom: -510px;

  .react-draggable{
    
    .documents-toggle-content {
      text-align: center;
      margin: 20px 0;

      .documents-toggle-button{
        margin: auto;
        height: 90px;
        padding: 20px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 1px -5px 9px #ddd;
        width: 15%;
      }

      .documents-toggle-button > button {
        margin-bottom: 0!important;
        margin-right: 5px;
      }

      .documents-toggle-main {
        display: flex;
        width: 35%;
        justify-content: space-around;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 5px 9px #ddd;
        border-radius: 10px;
      
        .documents-list-left {
          font-size: 15px;
          text-align: start;
          
        }
        .documents-list-left > h4 {
          font-size: 15px;
          color: green;
          text-transform: uppercase;
          font-weight: 700;
        }
        .documents-list-right {
          display: grid;
          width: 45%;
      
          .documents-row-title {
            display: flex;
            justify-content: space-between;
      
            .documents-row-name {
              padding: 5px;
              font-size: 14px;
              color: #626262;
              font-weight: 500;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
      
          .documents-row-content {
            display: flex;
            justify-content: space-between;
      
            .documents-row-data {
              padding: 5px;
              width: 20px;
              height: 20px;
              background: #dddddd9c;
              font-size: 11px;
              align-items: center;
              display: flex;
              justify-content: center;
            }
            .green {
              background: #05bf05b5;
              color: #fff;
            }
          }
        }
      }

    }
  }
}










// homepage effects test
.homepage-effects1 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 100vh;
  background: linear-gradient(45deg, #03a9f4, #ff53a0);

  ul {
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: 0.5s;
    

    li {
      position: relative;
      list-style: none;
      width: 450px;
      height: 100px;

      padding: 15px;
      background: #dbdbdb;
      // background: #28bb42;
      gap: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 6px;
      box-shadow: 0 -15px 25px rgba(0,0,0,0.25);
      transition: 0.5s;
      transition-delay: calc(var(--i) * 0.05s);

      img {
        max-width: 70px;
        border-radius: 4px;
      }

      .content {
        width: 100%;
        cursor: pointer;

        h4 {
          font-weight: 600;
          color:#333;
        }

        p {
          position: relative;
          color: #333;
          line-height: 1em;
          width: 100%;

          span {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0.75em;
            color: #888;
          }
        }
      }
    }

    li:nth-child(1) {
      transform: translateZ(-75px) translateY(20px);
      opacity: 0.6;

    }
    li:nth-child(2) {

    }
    li:nth-child(3) {
      transform: translateZ(75px) translateY(-30px);
      background: #eee;

    }
    li:nth-child(4) {
      transform: translateZ(150px) translateY(-75px);
      background: #fff;

    }

    li:hover {
      cursor: pointer;
    }
  }
  ul:hover {
    gap: 10px;
    
  }
  ul:hover li {
    opacity: 1;
    transform: translateZ(0px) translateY(0px);
  }
}


// User effects
.user-container{
  .user-effects {
    // display: flex;
    // justify-content: center;
    // align-items: baseline;
    // min-height: 100vh;
    // background: linear-gradient(45deg, #03a9f4, #ff53a0);

    display: flex;
    width: 30px;
    height: 30px;
  
    ul {
      // position: relative;
      // transform-style: preserve-3d;
      // perspective: 800px;
      // display: flex;
      // flex-direction: column;
      // gap: 0;
      // transition: 0.5s;
      // padding-left: 5px;
      
      transform-style: preserve-3d;
      perspective: 800px;
      transition: 0.5s;
      padding-left: 0px;
      display: grid;
      width: 100%;
  
      li {
        // position: relative;
        // list-style: none;
        // width: 20px;
        // height: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // transition: 0.3s;
        // transition-delay: calc(var(--i) * 0.05s);
        // font-size: 10px;

        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        transition-delay: calc(var(--i) * 0.05s);
        font-size: 10px;
       
      }
    
      li:nth-child(1) {
        transform: translateX(0px) translateZ(-300px) translateY(4px);
        opacity: 0.6;
        // background: $task_grey;
      }
      li:nth-child(2) {
        transform: translateX(0px) translateZ(-300px) translateY(-26px);
        // background: $task_waiting;
      }
      li:nth-child(3) {
        transform: translateX(0px) translateZ(-300px) translateY(-56px);
        // background: $task_note;
      }
      li:nth-child(4) {
        transform: translateX(0px) translateZ(60px) translateY(-87px);
        // background: $task_done;
      }
  
      li:hover {
        cursor: pointer;
        
      }
    }
    ul:hover {
      gap: 1px;
      z-index: 50;
      
    }
    ul:hover li:nth-child(1), ul:hover li:nth-child(2), ul:hover li:nth-child(3) {
      opacity: 1;
      // background: #28bb42cc;
      transform: translateX(0px) translateZ(0px) translateY(-58px);
      margin: -1px 0;
    }
    ul:hover li:nth-child(4) {
      transform: translateX(0px) translateZ(-380px) translateY(-87px);
     
    }
    
  }
}






// tab content
.item-tab-content {
  .item-card-header {
    border-radius: 5px;
    background: rgba(204, 204, 204, 0.3098039216);
    margin: 5px;
    min-height: 205px;
    display: flex;
    flex-direction: column;

    .item-card-title {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 17px;
      font-weight: 400;
      margin: 20px 0;
    }

    .item-card-content {
      display: grid;
      grid-template-columns: repeat(5, 0fr);
      grid-gap: 0.8rem;
      justify-content: center;
      align-items: baseline;
      height: 40px;

      
    }
    
   
  }
}

.content-task-node {
  margin: 20px;

  
}
.task_done {
  .rst__moveHandle {
    background: $task_done;
  }
  
}
.task_note {
  .rst__moveHandle {
    background: $task_note;
  }
  
}
.task_waiting {
  .rst__moveHandle {
    background: $task_waiting;
  }
  
}
.task_grey{
  .rst__moveHandle {
    background: $task_grey;
  }
  
}
.rst__virtualScrollOverride>div {
  margin-top: 40px;
}

span.rst__rowTitle {
  font-size: 14px;
  font-weight: 600;
}

